<h3 class = "database-header user-select-none empty-data-message-header">Информация!</h3>
<div class = "empty-data-message">

    <p>В БД отсутствует какая-либо информация по Протоколам совещаний по результатам ППР с перегрузкой активной зоны.</p>
    <p>Воспользуйтесь левой панелью, что бы создать учетную запись для Протокола совещания, предварительно выбрав:</p>
    <ul style = "list-style: disc outside">
        <li>энергоблок,</li>
        <li>год, в который был проведен ППР,</li>
        <li>дату совещания.</li>
    </ul>
    <p>Энергоблоки и ППР для Протоколов, которые уже занесены в БД, будут не активны и выделены красным цветом.</p>
</div>