<div class = "tab-pane" role = "tabpanel" id = "par_empty">
    <table class = "input-group-table">
        <tbody>
        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Исполнитель </legend>
            </td>
            <td colspan="2">
                <input type="text" class = "ajax-data" name = "executive" value = "" disabled/>
            </td>

            <td>
                <legend class = "form-title-inner user-select-none">Срок </legend>
            </td>
            <td>
                <input type="text" name = "term" class = "ajax-data" value = "" disabled/>
            </td>
        </tr>
        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Стадия выполнения </legend>
            </td>

            <td>
                <input type="text" disabled/>
                <!--<select class="ajax-data" name = "status">-->
                    <!---->
                <!--</select>-->
            </td>
            <td colspan="3">

            </td>
        </tr>
        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Условие </legend>
            </td>
            <td colspan="4">
                <textarea class = "ajax-data no-resize" name = "content" disabled></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Состояние выполнения </legend>
            </td>
            <td colspan="4">
                <textarea class = "ajax-data no-resize" name = "state" disabled></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</div>