<div class = "tab-pane" role = "tabpanel" id = "par_empty">
    <table class = "input-group-table">
        <tbody>
        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Подразделение </legend>
            </td>
            <td>
                <input type = "text" disabled/>
            </td>


            <td>
                <legend class = "form-title-inner user-select-none">Срок </legend>
            </td>
            <td>
                <input type="text" name = "term" class = "ajax-data" disabled/>
            </td>
        </tr>
        <tr>
            <td colspan = "3"></td>
            <td style = "width: 200px;">
                <table class = "rep-sect-class-title">
                    <thead>
                    <tr>
                        <th>Учет</th>
                        <th>Рзд</th>
                        <th>Кл-ф</th>
                    </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Стадия выполнения </legend>
            </td>

            <td>
                <input type = "text" disabled/>
            </td>
            <td></td>
            <td>
                <table class = "rep-sect-class-body">
                    <tbody>
                    <tr>
                        <td>
                            <input type = "text" disabled/>
                        </td>
                        <td>
                            <input type = "text" disabled/>
                        </td>
                        <td>
                            <input type = "text" disabled/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Условие </legend>
            </td>
            <td colspan="3">
                <textarea class = "ajax-data no-resize" name = "content" disabled></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <legend class = "form-title-inner user-select-none rest-content-legend-padding">Состояние выполнения </legend>
            </td>
            <td colspan="3">
                <textarea class = "ajax-data no-resize" name = "state" disabled></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</div>