<div id = "access-top-bar" class = "row">

    <div class = "col-xs-6 text-right">
        <img src="/img/logo-Energoatom.jpeg" alt="" />
    </div>
    <div class = "col-xs-6">
        <div class = "user-select-none" style = "border-left: 1px solid #DCDCDC;padding: 20px 40px; font-size: 10pt; font-weight: 700; color: #A1A1A1; text-transform: uppercase;">
            База данных отдела лицензирования<br/>Контроль выполнения условий документов на пуск энергоблоков АЭС Украины
        </div>
    </div>
</div>

<div class="upper-wrapper">

    <div class="access-section">
        <h1 class = "user-select-none">Вход в систему</h1>
        <form method="post" action="">
            <div class="form-group login">
                <label class="sr-only" for="login">Ваш логин</label>
                <input id="login" type="text" name="login" class = "" placeholder="Ваш логин" required autofocus>
            </div>

            <div class="form-group password">
                <label class="sr-only" for="login-password">Пароль</label>
                <input id="login-password" type="password" name="password" class="" placeholder="Пароль" required>
            </div>

            <div class="form-group">
                <p class="remember_me">
                    <label class = "user-select-none">
                        <input type="checkbox" name="remember_me" id="remember_me">
                        Запомнить меня
                    </label>
                </p>
            </div>

            <p class="submit"><input type="submit" name="commit" value="Войти"></p>

            <!--<div class = "form-group">-->
                <!--<p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>-->
            <!--</div>-->
        </form>
    </div>

    <!--<div class="login-help">-->
        <!--<p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>-->
    <!--</div>-->
</div><!--//upper-wrapper-->


