<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{QUERY_STRING} !^ajax.true
    RewriteCond %{QUERY_STRING} !^upload.true
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [PT,L]

</IfModule>