.access-section{

    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 40px 40px;
    width: 360px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.access-section:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.access-section h1 {
    margin: -20px -40px 40px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.access-section p {
    margin: 20px 0 0;
}
.access-section p:first-child {
    margin-top: 0;
}

.access-section p.remember_me {
    float: left;
    line-height: 31px;
}
.access-section p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
.access-section p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: text-bottom;
}
.access-section p.submit {
    text-align: right;
    /*margin-bottom: 20px;*/
}

.login-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}
.login-help a {
    color: #cce7fa;
    text-decoration: none;
}
.login-help a:hover {
    text-decoration: underline;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.access-section input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

.access-section input[type=text], input[type=password] {

    padding-left: 30px;
    width: 100%;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.access-section input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

.access-section input[type=submit] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.access-section input[type=submit]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.access-section .form-group {
    position: relative;
    margin-bottom: 20px;
}

.access-section .form-group.login:before, .access-section .form-group.password:before {

    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 10px;
    top: 9px;
    color: #999999;
}

.access-section .form-group.login:before{
    content: "\e008";
}

.access-section .form-group.password:before {
    content: "\e033";

}

body{

    /*font-family:"Times New Roman",Verdana,serif;*/
    /*font-family: 'Segoe UI', Tahoma, sans-serif;*/
    /*font-family: Georgia,Times,sans-serif;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: "PT Sans";*/
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    /*font-size: 75%;*/
    /*font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;*/
    font-family: 'Roboto', arial, sans-serif;
    overflow-x: auto;


}

.footer {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
    height: 60px;
    background-color: #f5f5f5;
}


.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}


.navbar-user a, .navbar-separator a{
    cursor: default;
}
.navbar-separator a:before{
    content: "|";
}


.navbar-user a:hover, .navbar-separator a:hover{
    color: #9d9d9d !important;
}





#bgload{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/img/common/bgload.png) no-repeat;
    background-position: center 50px;
}

.cursor-hold{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: progress;
}

.cursor-hold:hover{
    cursor: progress;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    cursor: progress;
    z-index: 1000;
}

.holden{
    position: relative;
}

.holden-overlay{

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: progress;

}

.holden-overlay-form{
    background-color: rgba(1, 1, 1, 0.7);
}


/*.container{*/
    /*width: 1300px !important;*/


    /*max-width: none !important;*/
    /*border: solid 1px red;*/
/*}*/

.form-control{
    height: inherit;

}

.user-select-none{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.top-arrow-pad:not(.static) .arrow-target:after{
    position: absolute;
    bottom: 100%;
    left: 100%;
    margin-left: -49px;
    content: "";
    width: 0;
    height: 0;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    border-top: solid 10px transparent;
    border-bottom: solid 10px #337AB7;

}

.left-arrow-pad .arrow-target:after{
    position: absolute;
    top: calc(50% - 10px);
    /*top: 50%;*/
    right: 100%;

    content: "";
    width: 0;
    height: 0;
    border-left: solid 10px transparent;
    border-right: solid 10px #337AB7;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;

}

.border-shadow:not(.static){

    webkit-box-shadow: 0px 1px 6px #333333;
    -moz-box-shadow: 0px 1px 6px #333333;
    box-shadow: 0px 1px 6px #333333;
}


#protocol-form-wrap, #permission-form-wrap{

    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.protocol-header-date, .permission-header-date, .permission-header-license{
    cursor: pointer;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.protocol-header-date:not(.editing):hover, .permission-header-date:not(.editing):hover, .permission-header-license:not(.editing):hover{
    color: #fff;
}

.protocol-header-date.editing, .permission-header-date.editing, .permission-header-license.editing{
    color: #000;
    cursor: text;
    background: #fff;

}

.service-button{
    font-size: 10pt;
    /*color: #333333;*/
    font-weight: normal;
    padding: 0;
    height: 22px;
    text-decoration: none;
    border-width: 1px;
    background: #ffffff;
    overflow: hidden;

}

.service-button:disabled{
    cursor: not-allowed;
}

#protocol-show-articles-wrap label, #protocol-show-articles-wrap select, #permission-show-articles-wrap label, #permission-show-articles-wrap select{
    display: inline
}
#protocol-show-articles-wrap, #permission-show-articles-wrap{
    padding-right: 15px;
}

.database-header{
    display: block;
    font-size: 13pt;
    line-height: 1.1;
    position: relative;
    margin: 0;

    /*padding: .5em .5em .5em;*/
    min-height: 0;
    background: #337AB7;
    font-weight: bold;
    color: white;

    border: solid 1px #333333;

}

.database-header.list-header{
    /*padding-left: 2em;*/
    cursor: pointer;
    margin-bottom: 15px;
    padding: 10px 15px;

}



.database-header.pad-header{
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    cursor: default;
    border: 0 !important;

}

.database-header.empty-data-message-header{
    display: block;
    padding: 10px 15px;
    cursor: default;
    border-bottom: 0;
}

.no-resize{
    resize: none;
}

/*PROTOCOLS LIST*/
#protocol-list .panel, #protocol-list .panel-heading, #protocol-list .panel-collapse, #permission-list .panel, #permission-list .panel-heading, #permission-list .panel-collapse{
    border: solid 1px #333333;
}

#protocol-list .panel, #permission-list .panel{
    border-top: 0;
    border-bottom: 0;
}

#protocol-list .panel-heading, #permission-list .panel-heading{

    padding: 0;

    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

#protocol-list .accordion-button, #permission-list .accordion-button{
    padding: 10px 15px;
    cursor: pointer;
    background: #573E7D;
    width: 100%;

    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 11pt;

}

#protocol-list .accordion-button:hover, #permission-list .accordion-button:hover{

    /*-webkit-filter: invert(100%);*/
    /*filter: invert(100%);*/
    /*#A94442*/
    background: #F39A1E;


}
#protocol-list .accordion-button.active, #permission-list .accordion-button.active{
    background: #F39814;
    color: #000000;

}

#protocol-list .accordion-button .accordion-button-text, #permission-list .accordion-button .accordion-button-text{
    margin-left: 10px;
}

.protocol-load, .permission-load{
    text-decoration: none;
    cursor: default;
    border-radius: 0 !important;
    color: #1C94C4;

}

.docs-count{
    float: right;
}

.docs-count:before{
    content: "("
}

.docs-count:after{
    content: ")"
}

.accordion .list-group-item span.glyphicon{
    margin-right: 10px;
    margin-left: 25px;
}

.protocol-load.doc-active, .permission-load.doc-active{
    color: #000000;
    background: #8AB9DD;
    font-weight: bold;

}

.protocol-load.doc-active:hover, .permission-load.doc-active:hover{
    background: #8AB9DD;
}

.protocol-load:hover, .permission-load:hover{
    background: #e8e8e8;
}

#protocol-list .panel-collapse, #permission-list .panel-collapse{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
#protocol-list .panel:last-child .panel-collapse, #protocol-list .panel:last-child .panel-heading,
#permission-list .panel:last-child .panel-collapse, #permission-list .panel:last-child .panel-heading{
    border-bottom: solid 1px #333333;
}
#protocol-list .panel:last-child .panel-collapse, #permission-list .panel:last-child .panel-collapse{
    border-top: 0;
}
/*</PROTOCOLS LIST*/


.protocol-input-group input, .protocol-input-group select, .permission-input-group input, .permission-input-group select{
    height: 26px;
}

.protocol-input-group select, .permission-input-group select{
    padding: 0 12px;
}

.paragraph-menu{
    position: fixed;
    display: none;
    z-index: 1000;
}

.paragraph-menu ul.dropdown-menu{
    border-radius: 0;
}

.paragraph-menu a{
    cursor: default;
}

legend{
    margin-bottom: 0;
    border: 0;
}

/*fieldset {*/
    /*display: block;*/
    /*-webkit-margin-start: 2px;*/
    /*-webkit-margin-end: 2px;*/
    /*-webkit-padding-before: 0.35em;*/
    /*-webkit-padding-start: 0.75em;*/
    /*-webkit-padding-end: 0.75em;*/
    /*-webkit-padding-after: 0.625em;*/
    /*border-image-source: initial;*/
    /*border-image-slice: initial;*/
    /*border-image-width: initial;*/
    /*border-image-outset: initial;*/
    /*border-image-repeat: initial;*/
    /*min-width: -webkit-min-content;*/
    /*border: 1px groove threedface;*/
    /*border-color: #dddddd;*/
    /*border-style: solid;*/


/*}*/

/*legend {*/
    /*display: block;*/
    /*width: inherit;*/

    /*margin-bottom: inherit;*/
    /*-webkit-padding-start: 2px;*/
    /*-webkit-padding-end: 2px;*/
    /*border-image-source: initial;*/
    /*border-image-slice: initial;*/
    /*border-image-width: initial;*/
    /*border-image-outset: initial;*/
    /*border-image-repeat: initial;*/
    /*border: none;*/

/*}*/

.fl-l{
    float: left;
}

.fl-r{
    float: right;
}

.border-rect{
    border-radius: 0 !important;
}

.database-protocol-save{
    width: 150px;
    min-width: 150px;
    height: 190px;

}

.no-border{
    border: none !important;
}

/*===============================================================================================*/

#protocol-container, #permission-container legend{
    cursor: default;
}


#default-container{
    /*background-color: lightblue;*/
}

#navbar a.active{
    color: #ffffff;
    text-decoration: underline;
}

#navbar ul.dropdown-menu li a{
    color: #fff;
}

#navbar ul.dropdown-menu{
    background: rgba(11, 11, 11, 0.99);

}




li.active-bold.active{
    text-decoration: underline;
    /*font-weight: bold;*/
}
li.active-bold.active a{
    color: #000000;
}

span.statistics-icon:hover{
    cursor: pointer;
}
/* =============================== */


.alert{
    text-align: center;

    /*font-weight: bold;*/

    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

}

.content-wrapper{
    width: 100%;
    margin: 0 auto;
}

.clr-both{
    clear: both;
}

.ajax-data[name = "term"]{
    cursor: pointer !important;
    text-align: center;
}

#protocol-container, #permission-container{
    margin-top: 15px;
}

#protocol-list > h3, #protocol-list > div, #permission-list > h3, #permission-list > div{
    border-radius: 0 !important;
    margin: 0 !important
}

#protocol-container legend.form-title-outer, #permission-container legend.form-title-outer{
    font-size: 12pt;
    font-weight: bold;
    color: #1c94c4;
}


#protocol-container .form-control, #permission-container .form-control{

    border-radius: 0;
    font-size: 10pt;
}

/*report-menu**********************************************/

#report-menu{

}

#report-menu .panel, #report-menu .panel-heading{
    border-radius: 0;
}

#report-menu .panel-body{

}

#report-menu .input-group-addon, #report-menu .form-control {
    border-radius: 0;
}



#report-menu label {
    cursor: default;
}

#report-menu label :hover {
    color: blue;

}

#report-menu table{

}

#report-menu table *{
    color: rgb(48, 57, 66);
}

#report-menu label span {
    margin-left: 5px;
}

#report-menu label input:not([name = "report-term"]){

}

.check-by-npp{
    cursor: default;
    font-size: 75%;
}

.hidden{
    display: none;
}

.generate{
    width: 120px;
}

#report-menu input[name = "report-term"]{
    border: none;
    width: 65px;
    font-weight: bold;
    margin-left:7px;
}
#report-menu-npp-dropdown {
    font-size: 75%;
}

.checkall, .uncheckall {
    font-size: 75%;
    cursor: default;
}

#report-menu-collapse1 table .checkbox select{
    float:right;

}

label.checkbox-pm{

}

.report-menu-pm-unit-drop{

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 160px;
    /*padding: 5px 0;*/
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

div.checkbox-pm-unit{
    margin-left: 20px;
}

div.checkbox-pm-unit:first-child{
    margin-top: 5px !important;
}

span.report-menu-pm-title{
    padding-top: 10px;
}

input.checkbox-pm{

}

/*report***********************************************************/
div#report{
    margin-top: 20px;
}

div#report hr{
    border-top: 2px solid #007AC3;
    margin-top: 0;
    margin-bottom: 0;
}

div#report h4{
    color: #F39A1E;
    text-align: center;
}

div#report div.title{
    color: #007AC3;
    font-size: 18pt;
}

table.report-table{

    /*border-top-color: black !important;*/
}

table.report-table th{
    /*border-color: black !important;*/
}